.appointment-date-and-hour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 25px;
  margin-top: 25px;
}

.appointment-date {
  display: grid;
  place-items: center;
}

.patient-appointments-calendar {
  display: grid;
  grid-template-rows: repeat('auto-fill', 50px);
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  margin-top: 25px;
  padding: 15px;
  background-color: aquamarine;
  border: solid 3px rgb(29, 250, 176);
  border-radius: 5px;

  .calendar-header {
    text-align: center;
    font-weight: 100;
    font-size: x-large; 
  }
}


.fade-in {
  animation: fadeIn 2.5s;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
